$color-orange-1: #ff5c00;
$color-orange-2: #fff8f5;
$color-dark-1: #2e2e2e;
$color-dark-2: #25201d;
$color-dark-3: #494949;
$color-dark-4: #222222;
$color-dark-5: #242120;
$color-blue-1: #0d019a;
$color-blue-2: #eef8ff;
$color-green-1: #049a01;
$color-green-2: #f0ffee;
$color-white: #ffffff;

$color-wblue-1: #0182c8;
$color-wblack-1: #272727;
