main {
  width: 100%;
  margin: 0 auto;
}

.aboutUs__textbox {
  margin: 0 auto;
}

.aboutUs {
  margin: 2rem auto;
  width: 100%;
  font-family: "inter";
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;

  &__textbox {
    width: 47%;
    // height: 40rem;
    align-items: center;
    max-width: 140rem;
    // padding: 2rem;

    & h2 {
      line-height: 26px;
      font-size: 2.2rem;
      font-weight: 500;
      font-family: "Roboto";
      color: rgb(41, 41, 133);
      margin-bottom: 2rem;
    }
    & h1 {
      font-size: 3.6rem;
      font-weight: 800;
      color: #212144;
      line-height: 1.3;
      text-align: left;
      margin-bottom: 2rem;
    }
    & p {
      font-family: "Roboto";
      font-size: 1.5rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.8;
      margin-bottom: 2.5rem;
      text-align: justify;
    }
  }

  &__img-container {
    width: 50%;
    display: flex;
  }
}
.btn {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
}
.btn-content {
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #212144;
  color: white;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 5px;
}
.column-inner {
  background: #212144;
  width: 35rem;
  max-block-size: 57rem;
  margin-left: 1.3rem;
  margin-right: 1.2rem;

  & p {
    justify-content: center;
    color: white;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 2rem;
    margin-top: -1rem;
    vertical-align: middle;
  }
}

.card-image {
  width: auto;
  height: 50rem;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
}
.pic1 {
  background-image: url(../plant-energy.jpg);
}
.pic2 {
  background-image: url(../hex10.jpg);
}
