.aboutUs {
  width: 100%;
  font-family: "inter", sans-serif;
  margin: 0 auto;
  padding: 2rem 0;
}
.aboutUs__textbox {
  margin: 0 auto;
  width: 70%;
}
.grid {
  display: grid;
}
.aboutUs__textbox h3 {
  display: block;
  justify-content: center;
  font-weight: 500;
  font-family: "inter";
  font-size: 2rem;
  color: #000000;
}
.aboutUs__textbox h1 {
  display: block;
  font-size: 3rem;
  font-family: "inter";
  margin: 2rem 0;
  color: #100d5c;
}
.aboutUs__textbox p {
  display: block;
  font-size: 2rem;
  letter-spacing: normal;
  font-family: "inter";
  line-height: 1.7;
  text-align: justify;
  color: #212144;
}
