.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-wblue-1;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 144rem;
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.85),
      rgba(black, 0.85)
    ),
    url(../../img/power10.jpg);
}

.footer {
  font-family: "Ubuntu", sans-serif;
  max-width: 144rem;
  color: $color-white;
  display: flex;

  &__group {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  &__links {
    &-div {
      margin: 0 5rem;
    }
    &-container {
      & h4 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
      }

      & li {
        list-style: none;
        text-decoration: none;
        color: $color-white;
        line-height: 1.641rem;
        font-size: 1.4rem;
        width: 25rem;
        margin-bottom: 0.5rem;

        & a {
          text-decoration: none;
          color: $color-white;
          line-height: 1.641rem;
          font-size: 1.4rem;
        }
      }
    }
  }

  &__media-icons {
    list-style: none;
    color: $color-white;

    & a {
      font-size: 1.4rem;

      & i {
        margin-right: 1rem;
        background-color: $color-white;
        color: $color-wblue-1;
        padding: 0.4rem 0 0.4rem 0.45rem;
        border-radius: 50%;
        width: 2.3rem;
      }
    }
  }
}
.rights {
  text-align: center;
  position: relative;
  bottom: -7rem;
  margin: 2rem 0;

  &__text {
    color: $color-white;
  }
}
