.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Livvic", sans-serif;
  background-image: url(../../img/footer-bg.jpg);
  color: white;
  // max-width: 144rem;
  margin: 0 auto;
}

.footer {
  width: 100%;
  display: flex;

  &__group {
    max-width: 144rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;

    @media only screen and (max-width: 942px) {
      flex-wrap: wrap;
      width: 80rem;
    }
  }

  &__links-div {
    display: flex;
    flex-direction: column;

    & h4 {
      margin-bottom: 2.5rem;
      margin-top: 5rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 4rem;
      position: relative;
    }
    & h4::before {
      content: "";
      position: absolute;
      left: 0;
      transition: transform ease-in-out 250ms;
      transform-origin: left;
      bottom: -10px;
      background: #fff;
      width: 50px;
      height: 2px;
      display: block;
    }
    & h4:hover::before {
      transform: scale(3, 1);
    }

    & div {
      width: 25rem;
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      line-height: 2.6rem;

      & a {
        text-decoration: none;
      }
    }
  }

  &__media-icons {
    list-style: none;
    color: $color-white;

    & a {
      font-size: 1.4rem;

      & i {
        margin-right: 1rem;
        background-color: $color-white;
        color: #454545;
        padding: 0.4rem 0 0.4rem 0.45rem;
        border-radius: 50%;
        width: 2.3rem;
      }
    }
  }
}
.rights {
  &__text-container {
    background-color: black;
  }

  &__text {
    color: white;
  }
}
