.landing-page {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  // margin: 0 auto;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.219),
      rgba(0, 0, 0, 0.308)
    ),
    url(../power1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  // color: rgb(201, 238, 250);
  color: white;

  // @media only screen and (max-width: 815px) {
  //   flex-direction: column;
  // }

  &__writeup-container {
    // margin-left: 15rem;
    //   @media only screen and (max-width: 1170px) {
    //     justify-self: center;
    //   }
    //   @media only screen and (max-width: 815px) {
    //     text-align: left;
    //   }
  }
  &__main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  &__heading {
    width: 50.1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 5rem;
    line-height: 6.5rem;
    // letter-spacing: 0.02em;
    // text-align: center;

    // @media only screen and (max-width: 1170px) {
    //   width: 40rem;
    //   font-size: 4rem;
    //   line-height: 5rem;
    // }
    // @media only screen and (max-width: 815px) {
    //   width: 32rem;
    //   margin-top: 3rem;
    //   line-height: 4rem;
    // }
  }

  &__here {
    margin-top: 1rem;
    width: 27.8rem;
    // height: 6.2rem;
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 3.4rem;
    letter-spacing: 0.02em;
    // color: $color-dark-3;

    // @media only screen and (max-width: 1170px) {
    //   font-size: 1.4rem;
    //   line-height: 2.1rem;
    //   width: 38rem;
    // }

    // @media only screen and (max-width: 900px) {
    //   width: 34rem;
    // }
    // @media only screen and (max-width: 815px) {
    //   padding-top: 4rem;
    // }
  }

  // .landing-page__graphics-container {
  //   width: 63.5rem;
  //   height: 63.5rem;

  //   // @media only screen and (max-width: 1170px) {
  //   //   width: 50rem;
  //   //   height: 50rem;
  //   // }
  // }

  &__img-container {
    width: 40rem;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.418);
  }

  &__testimonial-img-1 {
    width: 50rem;
    // clip-path: polygon(25% 0%, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-radius: 50%;
    border: 3px solid skyblue;
    // align-self: flex-end;
  }
}
