.landing-page {
  width: 100%;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  // overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 854px) {
    flex-direction: column;
  }

  &__writeup-container {
    @media only screen and (max-width: 1170px) {
      justify-self: center;
    }
    @media only screen and (max-width: 854px) {
      text-align: left;
    }
  }

  &__heading {
    width: 50.1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: -0.02em;

    @media only screen and (max-width: 1170px) {
      width: 40rem;
      font-size: 4rem;
      line-height: 5rem;
    }
    @media only screen and (max-width: 854px) {
      width: 32rem;
      margin-top: 3rem;
      line-height: 4rem;
    }
  }

  &__here {
    width: 47.8rem;
    // height: 6.2rem;
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    color: $color-dark-3;

    @media only screen and (max-width: 1170px) {
      font-size: 1.4rem;
      line-height: 2.1rem;
      width: 38rem;
    }
    @media only screen and (max-width: 854px) {
      padding-top: 4rem;
      width: 26rem;
    }
  }

  .landing-page__graphics-container {
    width: 63.5rem;
    height: 63.5rem;

    @media only screen and (max-width: 1170px) {
      width: 50rem;
      height: 50rem;
    }
  }

  &__elipse {
    position: relative;
    width: 100%;
    height: 100%;

    left: 0em;
    top: 15rem;
    border-radius: 50%;
    background-color: $color-orange-2;
    z-index: -1;
    flex: 1 1 auto;
  }

  &__testimonial-img-1 {
    position: absolute;
    width: 80%;
    left: 9rem;
    top: -4.8rem;
    align-self: flex-end;
  }
}
