.landing-page {
  width: 100vw;
  height: 50.4rem;
  margin: 10rem 0 0 17rem;
  font-family: "Inter", sans-serif;

  &__left-container {
    display: inline-block;
  }

  &__heading {
    width: 50.1rem;
    height: 18rem;
    margin: 3rem 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
  }

  &__here {
    width: 47.8rem;
    height: 6.2rem;
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    color: $color-dark-3;
  }

  &__elipse {
    position: relative;
    width: 71.1rem;
    height: 71.1rem;
    left: 47.7rem;
    top: -31.7rem;
    border-radius: 50%;
    /* float: right; */
    background: $color-orange-2;
  }

  &__testimonial-img-1 {
    position: relative;
    width: 53.6rem;
    height: 56.8rem;
    left: 14rem;
    top: -4.8rem;
  }
}
