.navbar {
  border-top: 0.1rem solid #00000014;
  border-bottom: 0.1rem solid #00000014;
  box-shadow: 1px 4px 4px #0000000a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;

  @media only screen and (max-width: 720px) {
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
    width: 70%;
    margin: 0 2rem;

    @media only screen and (max-width: 1140px) {
      width: 90%;
    }
    @media only screen and (min-width: 1200px) {
      width: 76%;
    }
    @media only screen and (max-width: 850px) {
      width: 100%;
      // font-size: 56.25%;
    }

    li {
      width: 100%;
      display: block;

      a {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.3rem;
        text-decoration: none;
        color: #000000;
      }
    }
  }
}
