.services {
  background-image: linear-gradient(
      to bottom,
      rgba($color-wblack-1, 0.9),
      rgba($color-wblack-1, 0.9)
    ),
    url(../../img/power9.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;

  & h2 {
    font-size: 3rem;
    color: white;
    margin-top: 3rem;
    width: 30rem;
    display: block;
    text-align: center;

    & span a {
      text-decoration: none;
      color: transparent;
      cursor: text;
    }
  }

  &__cluster {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 2rem 6rem 2rem;
    max-width: 140rem;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 750px) {
      padding: 2rem 0 4rem 0;
    }
  }

  &__writeup {
    color: white;
    width: 33%;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    // text-align: justify;
    @media only screen and (max-width: 900px) {
      width: 90%;
    }
    @media only screen and (max-width: 750px) {
      width: 97%;
    }

    & p {
      font-size: 1.8rem;
      margin-top: 1rem;
      line-height: 1.4;
    }
  }
  &__list {
    color: white;
    display: grid;
    grid-template-rows: repeat(3, minmax(7.9rem, 1fr));
    grid-template-columns: repeat(4, minmax(11.8rem, 1fr));
    width: 60%;
    height: 40%;
    grid-gap: 1.5rem;

    @media only screen and (max-width: 900px) {
      width: 88%;
    }
    @media only screen and (max-width: 750px) {
      width: 94%;
    }
    @media only screen and (max-width: 550px) {
      grid-template-rows: repeat(4, minmax(7.9rem, 1fr));
      grid-template-columns: repeat(3, minmax(11.8rem, 1fr));
      width: 92%;
    }
    @media only screen and (max-width: 450px) {
      grid-template-rows: repeat(6, minmax(7.9rem, 1fr));
      grid-template-columns: repeat(2, minmax(11.8rem, 1fr));
      width: 93%;
    }
  }
  &__item {
    padding: 0.5rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-wblue-1;
    border-radius: 0.5rem;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      background-color: white;
      color: $color-wblue-1;
    }
  }
}
