@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap");

main {
  margin: auto;
  padding: 4rem 0;
  max-width: 144rem;
  background: #f2f5f7;
}
.our-company {
  margin: 0 auto;
  padding-right: 12rem;
  padding-left: 12rem;
  &__heading {
    margin: 0;
    padding: 0;
    // margin: 2rem 0;
  }
  & h2 {
    // margin: 10rem auto;
    text-align: center;
    max-width: 40rem;
    color: #212144;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 2rem;
    position: relative;
    padding-right: 2rem;
  }

  & h2::before {
    content: "";
    display: block;
    width: 10rem;
    height: 3px;
    background: #212144;
    position: absolute;
    left: 0;
    top: 65%;
    border-radius: 1px;
  }
  & h2::after {
    content: "";
    display: block;
    width: 10rem;
    height: 3px;
    background: #212144;
    position: absolute;
    right: 0;
    top: 65%;
    border-radius: 1px;
    margin-right: 2rem;
  }
  & h2 span {
    background: #f2f5f7;
  }

  & h1 {
    max-width: 47rem;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    margin: 2.5rem 0;
  }

  &__content {
    padding: 4rem auto;

    & img {
      max-width: 50%;
      float: right;
      margin-left: 1.5rem;
      border-radius: 5px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.274);
    }
    & p {
      font-family: "Poppins", sans-serif;
      font-size: 1.7rem;
      line-height: 1.7;
      font-weight: 400;
      text-align: justify;
    }
  }
}
