.our-values-page {
  margin: 0 auto;
  width: min(90%, 82%);
}
.col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.our-core-values {
  margin: 0 auto;

  &__text h1 {
    font-size: 3rem;
    font-weight: 500;
  }
}
.image {
  width: 25rem;
}
.row-grid p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  width: 40rem;
}
.row-grid h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3rem;
}
