.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;

  &__heading {
    color: $color-wblue-1;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  &__logo-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 3rem;
  }

  &__nerc {
    border-radius: 50%;
    width: 47%;

    @media only screen and (max-width: 500px) {
      width: 71%;
    }
  }

  &__eedc {
    width: 59%;
    clip-path: polygon(11% 30%, 90% 30%, 90% 70%, 11% 70%);
    transform: translateX(-1rem);

    @media only screen and (max-width: 500px) {
      width: 92%;
      transform: translateX(-1rem);
    }
  }

  &__phedc {
    width: 106%;
    transform: translate(-2rem 1rem);

    @media only screen and (max-width: 500px) {
      width: 130%;
    }
  }

  &__tcn {
    width: 54%;
    margin-bottom: -1rem;
    @media only screen and (max-width: 500px) {
      width: 78%;
    }
  }
}
