.story-pg-2 {
  background: $color-orange-2;
  color: $color-dark-5;

  &__elipse {
    background-color: rgba($color-orange-1, 0.03);

    @media only screen and (max-width: 414px) {
      width: 30rem;
      left: 2rem;
    }
  }

  &__circle {
    @media only screen and (max-width: 800px) {
      width: 54rem;
      height: 54rem;
      background-color: rgba($color-orange-1, 0.03);
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      flex: 1;
      position: relative;
      left: -28rem;
    }

    @media only screen and (max-width: 414px) {
      width: 28rem;
      height: 28rem;
      background-color: rgba($color-orange-1, 0.03);
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      flex: 1;
      position: relative;
      left: -3rem;
    }
  }

  &__left-container {
  }

  &__space {
    width: 7rem;
    height: 2rem;

    @media only screen and (max-width: 1052px) {
      width: 0;
    }
  }

  &__page-container {
    position: relative;
    bottom: -7rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;

    @media only screen and (max-width: 800px) {
      padding: 0;
      flex-direction: column;
      bottom: 0;
    }
  }

  &__lady {
    position: relative;
    width: 62.2rem;
    top: 2.9rem;
    left: 4.6rem;
    z-index: 3;
    @media only screen and (max-width: 1052px) {
      width: 57.2rem;
    }

    @media only screen and (max-width: 800px) {
      width: 59rem;
      left: 2rem;
    }

    @media only screen and (max-width: 414px) {
      width: 30rem;
      left: 2rem;
    }
  }

  &__rounded-block {
    border: 0.1rem solid $color-orange-1;
    color: $color-orange-1;
  }

  &__share {
    color: $color-orange-1;
  }
}
