.story-pg-1 {
  background: $color-dark-4;
  color: $color-white;

  &__elipse {
    background-color: $color-dark-1;
    top: 6.4rem;
    left: 12.3rem;
    float: left;
  }

  &__right-container {
    float: right;
    right: 12.6rem;
  }

  &__rounded-block {
    border: 0.1rem solid rgba($color-white, 0.4);
  }

  &__share {
    color: $color-white;
  }
}
